@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Onest:wght@100&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(206, 241, 230);
}

.login-container {
    text-align: center;
}

.login-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 0 auto;
}

.login-heading {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-icon {
    color: #555;
    margin: 10px;
}

.login-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007bff;
  }

.security-reminders {
    margin-top: 20px;
  }

  .security-reminders p {
    font-weight: bold;
  }

  .security-reminders ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .security-reminders a {
    color: #3498db;
  }

.login-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0f4c75;
    transform: scale(1.02);
}

.buttonHome {
    background-color: #3498db;
    color: #fff;
    border: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px;
}

.buttonHome:hover{
    transform: scale(1.05);
}
#button:visited{
    color: #fff;
    text-decoration: none;
}

#button:link{
    color: #fff;
    text-decoration: none;
}